.space{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5%;
    /* width:100%; */
}

.card2{
    width: 70%;
    border-radius:1px ;
    height: auto;
    align-items: center;
    font-size: 20px;
}